body {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.card-title {
  font-family: "Roboto Condensed",sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  text-transform: capitalize;
}

.card {
  transition: transform .2s ease-out;
  cursor: pointer;
}

.hoverable {
  transition: transform .1s ease-out;
}

.card:hover {
  transform: translate(0, -8px);
}


.tag-line {
  margin-bottom: 5%;
}

.badge {
  padding: 2% 4% 2.5% 4%;
  box-shadow: none;
  font-size: 105%;
  font-weight: 300;
  background-color: #595D73;
}

.tag {
  padding: 2% 4% 2.5% 4%;
  background-color: #DDDEE4;
  color: #7B7F93 !important;
  text-transform: capitalize;
  font-weight: bold !important;
  margin-right: 3%;
}

.btn {
  margin-left: 0;
}

a, a:hover {
  color: black;
}

footer {
  background-color: #595D73;
}
